@font-face {
    font-family: "faseyha";
    src: url("/fonts/MVFaseyha.woff2");
  }
  
  @font-face {
    font-family: "waheed";
    src: url("/fonts/mv_waheed.otf");
  }

  @font-face {
    font-family: "aammu";
    src: url("/fonts/mv-aammu-fk.ttf");
  }

  @font-face {
    font-family: "typer";
    src: url("/fonts/mvtyper.ttf");
  }


  .waheed
  {
    font-family: waheed;
  }

  .faseyha
  {
    font-family: faseyha;
  }

  .aammu
  {
    font-family: aammu;
  }

  .typer
  {
    font-family: typer;
  }